/* General Styles */
body {
    background-color: #FFFAEE; /* Light, calming background color */
    font-family: Georgia, serif;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #46B0E2;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    max-height: 50px;
    margin-right: 10px; /* Optional: space between logo and title */
}

header strong {
    font-family: 'Calibri', sans-serif;
    font-size: 1.5rem;
    color: #FFFAEE;
}

header button {
    background-color: #F39B6B;
    color: white;
    border: none;
    padding: 10px 20px;
    font-family: 'Calibri', sans-serif;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

header button:hover {
    background-color: #46B0E2;
    color: #FFFAEE;
}



/* Heading */
h1 {
    text-align: center;
    color: #46B0E2;
}

/* Main Content */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}


/* Team Container */
.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Team Member Cards */
.team-member {
    background-color: #FFF5CC; /* Light yellow tint */
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Soft shadow */
    text-align: center;
    max-width: 300px;
}

.team-member h3 {
    color: #46B0E2;
    font-family: 'Calibri', sans-serif;
}

.team-member ul {
    list-style-type: none;
    padding: 0;
}

.team-member ul li {
    margin: 5px 0;
}




/* Product Section */
.product-section {
    text-align: center;
    margin: 1rem 0;
}

.product-section img {
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.description-box {
    background-color: #FFFAEE;
    border: 1px solid #F39B6B;
    border-radius: 8px;
    padding: 1rem;
    margin-top: 1rem;
    max-width: 600px;
    line-height: 1.5;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


/* Buttons */
button {
    background-color: #46B0E2;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #F39B6B;
    color: #FFFAEE;
}
